<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenamarie.childactivitymonitor" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->

    
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme" >
        <activity
            android:name=".MainActivity"
            android:label="title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ParentTabs.NavigationDrawer.MainParentActivity"
            android:label="Parent Menu" >
        </activity>
        <activity
            android:name=".MinderTabs.NavigationDrawer.MainMinderActivity"
            android:label="Minder Menu" >
        </activity>
        <activity
            android:name=".Register.RegisterOneActivity"
            android:label="@string/title_activity_register_one" >
        </activity>
        <activity
            android:name=".Register.RegisterOneActivityChild"
            android:label="Register Child" >
        </activity>
        <activity
            android:name=".Register.RegisterTwoActivity"
            android:label="@string/title_activity_register_one" >
        </activity>
        <activity
            android:name=".Register.RegisterThreeActivity"
            android:label="@string/title_activity_register_three" >
        </activity>
        <activity
            android:name=".Register.RegisterFourActivity"
            android:label="@string/title_activity_register_four" >
        </activity>
        <activity
            android:name=".Register.RegisterFiveActivity"
            android:label="@string/title_activity_register_five" >
        </activity>
        <activity
            android:name=".Other.AddRecordActivity"
            android:label="@string/title_activity_add_record"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".Other.changeChildId"
            android:label="@string/title_activity_change_child_id"
            android:theme="@android:style/Theme.Dialog">
        </activity>
    </application>

</manifest>
